<h1>Editing Wardrobe Item</h1>

<%= render 'wardrobe_items/form', wardrobe_item: @wardrobe_item, capsules: @capsules %>


<%= link_to 'Show', @wardrobe_item %> |
<%= link_to 'Back', wardrobe_items_path %>
