<h1>Capsule Stats</h1>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if current_user.capsules.exists? %>
    <% current_user.capsules.each do |capsule| %>
      <tr>
        <th>Capsule Name:</th>
        <td><%= link_to capsule.name, capsule_path(capsule) %>
        <th> Number of Wardrobe Items:</th>
        <td><%= capsule.wardrobe_items.count %></td>
      </tr>
      <% end %>
    <% else %>
     <h4>You have not created any capsules yet.</h4>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Capsule', new_capsule_path %>
